* {
  box-sizing: border-box;
}

html {
  font-family: Calibri,sans-serif;
}

body {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em;
}

body /deep/ a {
  text-decoration: none;
}

twitter-post {
  margin: 0 10%;
}

pre {
  padding: 2em 1em;
  max-width: 100%;
  overflow: auto;
  background-color: #f4f4f4;
  border-radius: 10px;
  white-space: pre-wrap;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

form label {
  width: 60%;
  display: inline-block;
  text-align: right;

  margin-top: .5em;
}

form input {
  width: 30%;
  display: inline-block;
  text-align: left;
}